<div class="row mb-4">
  <div class="col text-center">
    {% include "hoi-dong-dieu-hanh/thanh-vien.html" %}
  </div>
</div>
<div class="row">
  {% set items = [
    {
      img: 'http://www.vbu.edu.vn/sites/default/files/public/anh-dai-dien/giaosulemanhthat-1.jpg',
      name: 'GS.TS. Lê Mạnh Thát',
      position: 'Viện trưởng'
    },
    {
      img: 'http://www.vbu.edu.vn/sites/default/files/public/anh-dai-dien/giaosulemanhthat-1.jpg',
      name: 'GS.TS. Lê Mạnh Thát',
      position: 'Viện trưởng'
    },
    {
      img: 'http://www.vbu.edu.vn/sites/default/files/public/anh-dai-dien/giaosulemanhthat-1.jpg',
      name: 'GS.TS. Lê Mạnh Thát',
      position: 'Viện trưởng'
    },
    {
      img: 'http://www.vbu.edu.vn/sites/default/files/public/anh-dai-dien/giaosulemanhthat-1.jpg',
      name: 'GS.TS. Lê Mạnh Thát',
      position: 'Viện trưởng'
    },
    {
      img: 'http://www.vbu.edu.vn/sites/default/files/public/anh-dai-dien/giaosulemanhthat-1.jpg',
      name: 'GS.TS. Lê Mạnh Thát',
      position: 'Viện trưởng'
    },
    {
      img: 'http://www.vbu.edu.vn/sites/default/files/public/anh-dai-dien/giaosulemanhthat-1.jpg',
      name: 'GS.TS. Lê Mạnh Thát',
      position: 'Viện trưởng'
    },
    {
      img: 'http://www.vbu.edu.vn/sites/default/files/public/anh-dai-dien/giaosulemanhthat-1.jpg',
      name: 'GS.TS. Lê Mạnh Thát',
      position: 'Viện trưởng'
    },
    {
      img: 'http://www.vbu.edu.vn/sites/default/files/public/anh-dai-dien/giaosulemanhthat-1.jpg',
      name: 'GS.TS. Lê Mạnh Thát',
      position: 'Viện trưởng'
    },
    {
      img: 'http://www.vbu.edu.vn/sites/default/files/public/anh-dai-dien/giaosulemanhthat-1.jpg',
      name: 'GS.TS. Lê Mạnh Thát',
      position: 'Viện trưởng'
    },
    {
      img: 'http://www.vbu.edu.vn/sites/default/files/public/anh-dai-dien/giaosulemanhthat-1.jpg',
      name: 'GS.TS. Lê Mạnh Thát',
      position: 'Viện trưởng'
    }
    ] %}
  {% for item in items %}
    <div class="col-lg-3 col-sm-6 mb-4 text-center">
      {% include "hoi-dong-dieu-hanh/thanh-vien.html" %}
    </div>
  {% endfor %}
</div>