<li class="EduNavigation_navListItem__vencQ {% if hasDropDown %} EduNavigation_hasDropdown__gm21j {% endif %}"
  data-mobilenavdropdownisopen="false" aria-label=""><a target="_blank" data-iscurrentpage="false"
    class="EduNavigation_l1Link__2GKvH" href="https://www.uchicago.edu/who-we-are" rel="noopener"><span
      class="linkText">{{ menuTitle }}</span></a>
  <div class="EduNavigation_linkDropdown__1FJzR">
    <div class="EduNavigation_linksubDropdown__1uupK"><button aria-label="Back"
        class="EduNavigation_backButton__2R-ey">Back</button><a target="_blank" data-iscurrentpage="false"
        class="EduNavigation_l1LinkDropdown__EcW2Y" href="https://www.uchicago.edu/who-we-are"
        rel="noopener"><span class="linkText">Who We Are</span></a>
      <ul class="EduNavigation_linkDropdownColumn__3T5Du">
        <li class="EduNavigation_dropdownSubLinks__8Rcxj"><a target="_blank" data-chevron="true"
            data-size="small" href="https://www.uchicago.edu/who-we-are/scholarship-at-uchicago"
            rel="noopener"><span class="linkText">Phật giáo nguyên thuỷ</span></a></li>
        <li class="EduNavigation_dropdownSubLinks__8Rcxj"><a target="_blank" data-chevron="true"
            data-size="small" href="https://www.uchicago.edu/who-we-are/what-we-value" rel="noopener"><span
              class="linkText">Phật giáo bộ phái</span></a></li>
        <li class="EduNavigation_dropdownSubLinks__8Rcxj"><a target="_blank" data-chevron="true"
            data-size="small" href="https://www.uchicago.edu/who-we-are/global-impact" rel="noopener"><span
              class="linkText">Phật giáo đại thừa</span></a></li>
      </ul>
      <ul class="EduNavigation_linkDropdownColumn__3T5Du">
        <li class="EduNavigation_dropdownSubLinks__8Rcxj"><a target="_blank" data-chevron="true"
            data-size="small" href="https://www.uchicago.edu/who-we-are/community-impact"
            rel="noopener"><span class="linkText">Kinh Tạng Pali</span></a></li>
        <li class="EduNavigation_dropdownSubLinks__8Rcxj"><a target="_blank" data-chevron="true"
            data-size="small" href="https://www.uchicago.edu/who-we-are/history-and-traditions"
            rel="noopener"><span class="linkText">Luật Tạng Pali</span></a></li>
        <li class="EduNavigation_dropdownSubLinks__8Rcxj"><a target="_blank" data-chevron="true"
            data-size="small" href="https://www.uchicago.edu/who-we-are/facts-and-figures"
            rel="noopener"><span class="linkText">Luận Tạng Pali</span></a></li>
      </ul>
      <ul class="EduNavigation_linkDropdownColumn__3T5Du">
        <li class="EduNavigation_dropdownSubLinks__8Rcxj"><a target="_blank" data-chevron="true"
            data-size="small" href="https://www.uchicago.edu/who-we-are/leadership" rel="noopener"><span
              class="linkText">Kinh Trường Bộ</span></a></li>
        <li class="EduNavigation_dropdownSubLinks__8Rcxj"><a target="_blank" data-chevron="true"
            data-size="small" href="https://www.uchicago.edu/who-we-are/university-administration"
            rel="noopener"><span class="linkText">Kinh Trung Bộ</span></a></li>
        <li class="EduNavigation_dropdownSubLinks__8Rcxj"><a target="_blank" data-chevron="true"
            data-size="small" href="https://www.uchicago.edu/who-we-are/university-administration"
            rel="noopener"><span class="linkText">Kinh Tương Ưng Bộ</span></a></li>
        <li class="EduNavigation_dropdownSubLinks__8Rcxj"><a target="_blank" data-chevron="true"
            data-size="small" href="https://www.uchicago.edu/who-we-are/university-administration"
            rel="noopener"><span class="linkText">Kinh Tăng Chi Bộ</span></a></li>
      </ul>
    </div>
  </div>
  <div class="EduNavigation_navListOverlay__2dpoT"></div>
</li>