<ul class="EduNavigation_navList__3UUa5 EduNavigation_rightNav__J4S-4">
  {% set menuTitle = "Từ điển" %}
  {% include "./menuItem.html" %}

  {% set menuTitle = "Sách" %}
  {% include "./menuItem.html" %}

  {% set menuTitle = "Tin tức" %}
  {% include "./menuItem.html" %}

  {% set menuTitle = "Tra cứu" %}
  {% include "./menuItem.html" %}

  {% set menuTitle = "Tác giả" %}
  {% include "./menuItem.html" %}
  <!-- <li class="EduNavigation_navListItem__vencQ" data-mobilenavdropdownisopen="false" aria-label=""><a
      target="_blank" data-iscurrentpage="false"
      class="EduNavigation_l1Link__2GKvH EduNavigation_linkHighlight__q5cn-"
      href="https://www.uchicago.edu/medicine" rel="noopener"><span class="linkText">UChicago
        Medicine</span></a>
    <div class="EduNavigation_navListOverlay__2dpoT"></div>
  </li>
  <li class="EduNavigation_navListItem__vencQ" data-mobilenavdropdownisopen="false" aria-label=""><a
      href="https://giving.uchicago.edu/site/Donation2?df_id=1681&amp;mfc_pref=T&amp;1681.donation=form1"
      class="EduNavigation_l1Link__2GKvHundefined" target="_blank" rel="noopener"
      data-iscurrentpage="false"><span class="linkText"><span data-color="red" data-disabled="false"
          data-solid="false" data-size="small" class="spanButton undefined" tabindex="-1">Give<span
            class="buttonEffect"></span></span></span></a>
    <div class="EduNavigation_navListOverlay__2dpoT"></div>
  </li> -->
</ul>