<ul class="EduNavigation_navList__3UUa5 EduNavigation_rightNav__J4S-4">
  {% set menuTitle = "Từ điển" %}
  {% set hasDropDown = false %}
  {% include "./menuItem.html" %}

  {% set menuTitle = "Sách" %}
  {% set hasDropDown = false %}
  {% include "./menuItem.html" %}

  {% set menuTitle = "Tin tức" %}
  {% set hasDropDown = false %}
  {% include "./menuItem.html" %}

  {% set menuTitle = "Tra cứu" %}
  {% set hasDropDown = false %}
  {% include "./menuItem.html" %}

  {% set menuTitle = "Tác giả" %}
  {% set hasDropDown = false %}
  {% include "./menuItem.html" %}
</ul>