<div class="SectionWrap_container__2Hi9n" data-theme="light" data-alignment="bottom-right" data-showaccentbar="false"
  data-accentcolor="red"
  style="background-image: url(&quot;https://mc-1b49d921-43a2-4264-88fd-647979-cdn-endpoint.azureedge.net/-/jssmedia/project/uchicago-tenant/shared/phoenix.png&quot;);">
  <section class="HeadlineTextBold_container__1RnDP single-col-inner  " data-alignment="center">
    <h2 class="HeadlineTextBold_title__MxSRh">Lorem, ipsum dolor</h2>
  </section>
  <section class="NewsFeatured_container__1bNJj" data-configuration="fourItemsEqual">
    <div class="single-col-inner">
      <ul class="NewsFeatured_newsList__2lOPn">
        <li class="NewsFeatured_newsListItem__o8u3f">
          <div class="NewsItem_container__2zKxq NewsItem_hasImage__2q4K4 undefined">
            <div><img alt="William Myers, the first black resident of Levittown, Pennsylvania"
                src="https://mc-1b49d921-43a2-4264-88fd-647979-cdn-endpoint.azureedge.net/-/media/project/uchicago-tenant/www/news/124373.jpg?h=330&amp;iar=0&amp;w=710&amp;rev=8ef5e8cc6e5147fba05014f8941ad4e2&amp;sc_lang=en&amp;extension=webp&amp;hash=6F1E0C981916D3DFCF7CF372EB57156C"
                class="NewsItem_image__3IMgg"></div>
            <div class="NewsItem_textContainer__3_tB9"><small
                class="NewsItem_date__NA594 typography-small-letter"><span></span></small><a
                href="https://news.uchicago.edu/how-homeownership-shaped-race-america?utm_source=WWW&amp;utm_medium=NewsModule"
                class="NewsItem_titleLink__Sr4cy" target="_blank" rel="noopener"><span class="linkText"><span
                    class="linkText">Tam Tạng Thánh Điển Phật Giáo Việt Nam</span></span></a>
                    <br />
                    <small class="NewsItem_source__1SRo8 typography-small">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</small></div>
          </div>
        </li>
        <li class="NewsFeatured_newsListItem__o8u3f">
          <div class="NewsItem_container__2zKxq NewsItem_hasImage__2q4K4 undefined">
            <div><img alt="Seven covers of &quot;Critical Space,&quot; a Japanese literary journal."
                src="https://mc-1b49d921-43a2-4264-88fd-647979-cdn-endpoint.azureedge.net/-/media/project/uchicago-tenant/www/news/124369.png?h=330&amp;iar=0&amp;w=710&amp;rev=edaf0f7768ea42a6b27790199c9c1e8e&amp;sc_lang=en&amp;extension=webp&amp;hash=61B338CD06BA74E9F8C19574FBE6FFB1"
                class="NewsItem_image__3IMgg"></div>
            <div class="NewsItem_textContainer__3_tB9"><small
                class="NewsItem_date__NA594 typography-small-letter"><span></span></small><a
                href="https://news.uchicago.edu/story/uchicago-students-share-life-changing-experiences-fulbright-scholars?utm_source=WWW&amp;utm_medium=NewsModule"
                class="NewsItem_titleLink__Sr4cy" target="_blank" rel="noopener"><span class="linkText"><span
                    class="linkText">Sách</span></span></a>
                    <br />
                    <small class="NewsItem_source__1SRo8 typography-small">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</small></div>
          </div>
        </li>
        <li class="NewsFeatured_newsListItem__o8u3f">
          <div class="NewsItem_container__2zKxq NewsItem_hasImage__2q4K4 undefined">
            <div><img alt="A dancer in a white bodysuit dances inside a white parachute."
                src="https://mc-1b49d921-43a2-4264-88fd-647979-cdn-endpoint.azureedge.net/-/media/project/uchicago-tenant/www/news/124371.png?h=330&amp;iar=0&amp;w=710&amp;rev=9ca1f3604d09450f989939c2101178b3&amp;sc_lang=en&amp;extension=webp&amp;hash=9525E2D6FE4BD0E398DAB33769EEA568"
                class="NewsItem_image__3IMgg"></div>
            <div class="NewsItem_textContainer__3_tB9"><small
                class="NewsItem_date__NA594 typography-small-letter"><span></span></small><a
                href="https://news.uchicago.edu/story/uchicagos-film-studies-center-preserve-groundbreaking-work-black-and-filipino-filmmakers?utm_source=WWW&amp;utm_medium=NewsModule"
                class="NewsItem_titleLink__Sr4cy" target="_blank" rel="noopener"><span class="linkText"><span
                    class="linkText">Tin Tức</span></span></a>
                    <br />
                    <small class="NewsItem_source__1SRo8 typography-small">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</small></div>
          </div>
        </li>
        <li class="NewsFeatured_newsListItem__o8u3f">
          <div class="NewsItem_container__2zKxq NewsItem_hasImage__2q4K4 undefined">
            <div><img alt="A dancer in a white bodysuit dances inside a white parachute."
                src="https://mc-1b49d921-43a2-4264-88fd-647979-cdn-endpoint.azureedge.net/-/media/project/uchicago-tenant/www/news/124371.png?h=330&amp;iar=0&amp;w=710&amp;rev=9ca1f3604d09450f989939c2101178b3&amp;sc_lang=en&amp;extension=webp&amp;hash=9525E2D6FE4BD0E398DAB33769EEA568"
                class="NewsItem_image__3IMgg"></div>
            <div class="NewsItem_textContainer__3_tB9"><small
                class="NewsItem_date__NA594 typography-small-letter"><span></span></small><a
                href="https://news.uchicago.edu/story/uchicagos-film-studies-center-preserve-groundbreaking-work-black-and-filipino-filmmakers?utm_source=WWW&amp;utm_medium=NewsModule"
                class="NewsItem_titleLink__Sr4cy" target="_blank" rel="noopener"><span class="linkText"><span
                    class="linkText">Cúng Dường</span></span></a>
                    <br />
                    <small class="NewsItem_source__1SRo8 typography-small">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</small></div>
          </div>
        </li>
      </ul>
    </div>
    
  </section>
</div>