<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/newsFeatured.css">
  <link rel="stylesheet" href="styles/sectionWrap.css">
  <link rel="stylesheet" href="styles/calloutTiles.css">
  <title>{{ title }}</title>
</head>
<body>
  {% include "./eduHeader/index.html" %}
  <div class="App__ContentContainer">
    {% block content %}
    {% endblock %}
  </div>  
  {% include "./AppFooter/index.html" %}
  <script src="js/main.js"></script>
</body>
</html>

