<section class="PhotoTabs_container__1Yx2P single-col-inner" data-accentbar-alignment="{{ photoTabs.accentbarAlignment }}">
  <div class="PhotoTabs_imageContainer__AkaTF" data-alignment="{{ photoTabs.photoAlignment }}"
    style="background-image: url('{{ photoTabs.imgUrl }}');">
    <div class="PhotoTabs_tabDescription__1ZJIu"></div>
  </div>
  <div class="PhotoTabs_tabContainer__29YJa" data-alignment="bottom-right">
    <h3 class="PhotoTabs_title__1P9Pd">
      {{ photoTabs.title }}
    </h3>
    <p data-size="small" class="PhotoTabs_description__122tl">
      {{ photoTabs.description }}
    </p>

    {% set items = photoTabs.items %}
    {% include "./ctaLinks.html" %}
    
  </div>
</section>