<section class="PhotoTabs_container__1Yx2P single-col-inner">
  <div class="PhotoTabs_imageContainer__AkaTF" data-alignment="right"
    style="background-image: url(&quot;https://mc-1b49d921-43a2-4264-88fd-647979-cdn-endpoint.azureedge.net/-/jssmedia/we-welcome-all.jpg&quot;);">
    <div class="PhotoTabs_tabDescription__1ZJIu"></div>
  </div>
  <div class="PhotoTabs_tabContainer__29YJa" data-alignment="bottom-right">
    <h3 class="PhotoTabs_title__1P9Pd">The UChicago arts landscape</h3>
    <p data-size="small" class="PhotoTabs_description__122tl">Explore the many initiatives, resources, and programs
      available to the UChicago community.</p>
    
    {% set items = [
      {
        title: 'Trung tâm Pali học'
      },
      {
        title: 'Trung tâm Phật học Sanskrit'
      },
      {
        title: 'Trung tâm nghiên cứu Phật giáo Hán truyền'
      },
      {
        title: 'Trung tâm nghiên cứu Phật giáo Việt Nam'
      }]%}

      {% include "./ctaLinks.html" %}
    
  </div>
</section>

<section class="PhotoTabs_container__1Yx2P single-col-inner">
  <div class="PhotoTabs_imageContainer__AkaTF" data-alignment="left"
    style="background-image: url(&quot;https://mc-1b49d921-43a2-4264-88fd-647979-cdn-endpoint.azureedge.net/-/jssmedia/smart-museum.png&quot;);">
    <div class="PhotoTabs_tabDescription__1ZJIu"></div>
  </div>
  <div class="PhotoTabs_tabContainer__29YJa" data-alignment="bottom-right">
    <h3 class="PhotoTabs_title__1P9Pd">The UChicago arts landscape</h3>
    <p data-size="small" class="PhotoTabs_description__122tl">Explore the many initiatives, resources, and programs
      available to the UChicago community.</p>

      {% set items = [
        {
          title: 'Trung tâm nghiên cứu Phật giáo Hán truyền'
        },
        {
          title: 'Trung tâm nghiên cứu Phật giáo Việt Nam'
        },
        {
          title: 'Trung tâm nghiên cứu Phật giáo Hán truyền'
        },
        {
          title: 'Trung tâm nghiên cứu Phật giáo Việt Nam'
        }]%}
  
        {% include "./ctaLinks.html" %}
  </div>
</section>

<section class="PhotoTabs_container__1Yx2P single-col-inner">
  <div class="PhotoTabs_imageContainer__AkaTF" data-alignment="right"
    style="background-image: url(&quot;https://mc-1b49d921-43a2-4264-88fd-647979-cdn-endpoint.azureedge.net/-/jssmedia/we-welcome-all.jpg&quot;);">
    <div class="PhotoTabs_tabDescription__1ZJIu"></div>
  </div>
  <div class="PhotoTabs_tabContainer__29YJa" data-alignment="bottom-right">
    <h3 class="PhotoTabs_title__1P9Pd">We welcome all</h3>
    <p data-size="small" class="PhotoTabs_description__122tl">Only when different values, experiences, and perspectives
      are met with free and open discourse can education be truly transformative. This is why we continue to work
      together as an institution, and within our community, to promote a more inclusive environment on our campus and
      beyond.</p>
      
    {% set items = [
      {
        title: 'Trung tâm phiên dịch Hán Nôm Huệ Quang'
      },
      {
        title: 'Trung tâm nghiên cứu tôn giáo'
      },
      {
        title: 'Trung tâm Phiên dịch Anh-Việt Phật học'
      },
      {
        title: 'Trung tâm nghiên cứu và dịch thuật'
      }]%}

      {% include "./ctaLinks.html" %}
  </div>
</section>
