<section class="CalloutTiles_container__2_O-P single-col-inner" data-tilesperrow="three" data-hasbackground="{{ calloutTiles.hasBackground }}">

  {% for item in calloutTiles.items %}
  <div class="CalloutTiles_tile__3R5bL">
    <div><img class="CalloutTiles_image__2utKD" src="{{ item.image }}" alt="Agnes Callard close-up, Aims of Education">
    </div>
    <div class="CalloutTiles_textContainer__37qbv">
      <div class="CalloutTiles_titleContainer__2U6hY">
        <h2 class="CalloutTiles_title__1prJb">{{ item.title }}</h2>
      </div>
      <div class="CalloutTiles_calendarLinkContainer__2FViU">
        <p class="CalloutTiles_description__g0eZ4">{{ item.description }}</p>
      </div>
      <div class="CalloutTiles_ctaContainer__3-b8l"><a aria-label="Learn more about our education and research"
          target="_self" class="CalloutTiles_cta__eo_HC" data-chevron="true" href="/education-and-research"><span
            class="linkText">Xem Chi Tiết</span></a></div>
    </div>
  </div>
  {% endfor %}

</section>