{#
Check: https://mozilla.github.io/nunjucks/templating.html
to learn more about the Nunjucks templating language.
#}

{% set title = 'Tin tức chi tiết' %}
{% extends "_page.html" %}

{% block content %}

{% set title = 'Bến Tre: Phân ban Ni giới tỉnh họp định kỳ báo cáo hoạt động Phật sự Quý III năm 2024' %}
{% include "BasicPageBanner/index.html" %}
<section class="single-col-wide" style="margin-bottom: 32px">
  <section class="single-col-inner ">
    {% include "newsDetails/body.html" %}
  </section>
</section>

{% endblock %}