<section class="single-col-wide">

  <div class="single-col-inner">
    {% include "CalloutBig/index.html" %}
  </div>

  {% set calloutTiles ={
    hasBackground: false,
    items: [
      {
        title: 'Bến Tre: Phân ban Ni giới tỉnh họp định kỳ báo cáo hoạt động Phật sự Quý III năm 2024',
        description: 'GNO - Sáng 2-9, tại Văn phòng Phân ban Ni giới tỉnh Bến Tre - chùa Bạch vân (P.6, TP.Bến Tre) diễn ra phiên họp  báo cáo công tác Phật sự Quý III và triển khai Phật sự cuối năm 2024.',
        image: 'https://image.giacngo.vn/560x373/Uploaded/2024/qdhwqmrnd/2024_09_03/ae47ee4f-9d15-4a26-a4d7-c3bb1c8802d0-crop-5008.jpg',
        link: '/newsDetails'
      },
      {
        title: 'Kiên Giang: Bổ nhiệm đại diện Điểm sinh hoạt tôn giáo tập trung Pháp Vân',
        description: 'GNO - Sáng 31-8, Ban Trị sự GHPGVN tỉnh Kiên Giang tổ chức bổ nhiệm đại diện Điểm sinh hoạt tôn giáo tập trung Pháp Vân (ấp Trung Sơn, xã Phi Thông, TP.Rạch Giá) cho Sư cô Thích nữ Diệu Mỹ. ',
        image: 'https://image.giacngo.vn/265x176/Uploaded/2024/qdhwqmrnd/2024_09_01/320ae013-6c7b-4aa7-8609-c07ad5a76631-crop-111.jpeg',
        link: '/newsDetails'
      },
      {
        title: 'Ninh Thuận: Phật giáo H.Thuận Nam tổ chức khóa tu “Một ngày an lạc” cho Phật tử',
        description: 'GNO - Sáng 29-8, Thường trực Ban Trị sự GHPGVN H.Thuận Nam tổ chức khóa tu Một ngày an lạc, tại chùa Long Hải (xã Phước Dinh).',
        image: 'https://image.giacngo.vn/w770/Uploaded/2024/qdhwqmrnd/2024_08_30/01f5ef3f-3a90-42e9-93b3-44b6912a3f94-crop-7251.jpeg',
        link: '/newsDetails'
      },
      {
        title: 'Bến Tre: Phân ban Ni giới tỉnh họp định kỳ báo cáo hoạt động Phật sự Quý III năm 2024',
        description: 'GNO - Sáng 2-9, tại Văn phòng Phân ban Ni giới tỉnh Bến Tre - chùa Bạch vân (P.6, TP.Bến Tre) diễn ra phiên họp  báo cáo công tác Phật sự Quý III và triển khai Phật sự cuối năm 2024.',
        image: 'https://image.giacngo.vn/560x373/Uploaded/2024/qdhwqmrnd/2024_09_03/ae47ee4f-9d15-4a26-a4d7-c3bb1c8802d0-crop-5008.jpg',
        link: '/newsDetails'
      },
      {
        title: 'Kiên Giang: Bổ nhiệm đại diện Điểm sinh hoạt tôn giáo tập trung Pháp Vân',
        description: 'GNO - Sáng 31-8, Ban Trị sự GHPGVN tỉnh Kiên Giang tổ chức bổ nhiệm đại diện Điểm sinh hoạt tôn giáo tập trung Pháp Vân (ấp Trung Sơn, xã Phi Thông, TP.Rạch Giá) cho Sư cô Thích nữ Diệu Mỹ. ',
        image: 'https://image.giacngo.vn/265x176/Uploaded/2024/qdhwqmrnd/2024_09_01/320ae013-6c7b-4aa7-8609-c07ad5a76631-crop-111.jpeg',
        link: '/newsDetails'
      },
      {
        title: 'Ninh Thuận: Phật giáo H.Thuận Nam tổ chức khóa tu “Một ngày an lạc” cho Phật tử',
        description: 'GNO - Sáng 29-8, Thường trực Ban Trị sự GHPGVN H.Thuận Nam tổ chức khóa tu Một ngày an lạc, tại chùa Long Hải (xã Phước Dinh).',
        image: 'https://image.giacngo.vn/w770/Uploaded/2024/qdhwqmrnd/2024_08_30/01f5ef3f-3a90-42e9-93b3-44b6912a3f94-crop-7251.jpeg',
        link: '/newsDetails'
      },
      {
        title: 'Bến Tre: Phân ban Ni giới tỉnh họp định kỳ báo cáo hoạt động Phật sự Quý III năm 2024',
        description: 'GNO - Sáng 2-9, tại Văn phòng Phân ban Ni giới tỉnh Bến Tre - chùa Bạch vân (P.6, TP.Bến Tre) diễn ra phiên họp  báo cáo công tác Phật sự Quý III và triển khai Phật sự cuối năm 2024.',
        image: 'https://image.giacngo.vn/560x373/Uploaded/2024/qdhwqmrnd/2024_09_03/ae47ee4f-9d15-4a26-a4d7-c3bb1c8802d0-crop-5008.jpg',
        link: '/newsDetails'
      },
      {
        title: 'Kiên Giang: Bổ nhiệm đại diện Điểm sinh hoạt tôn giáo tập trung Pháp Vân',
        description: 'GNO - Sáng 31-8, Ban Trị sự GHPGVN tỉnh Kiên Giang tổ chức bổ nhiệm đại diện Điểm sinh hoạt tôn giáo tập trung Pháp Vân (ấp Trung Sơn, xã Phi Thông, TP.Rạch Giá) cho Sư cô Thích nữ Diệu Mỹ. ',
        image: 'https://image.giacngo.vn/265x176/Uploaded/2024/qdhwqmrnd/2024_09_01/320ae013-6c7b-4aa7-8609-c07ad5a76631-crop-111.jpeg',
        link: '/newsDetails'
      }
    ]
  }
  %}
  {% include "CalloutTiles/index.html" %}

</section>