<footer class="Footer_container__2wljV">
  <div><!-- BEGIN NOINDEX --></div>
  <div class="Footer_innerContainer__1WRD1 single-col-inner">
    <div class="Footer_mainContainer__2cU57">
      <div class="Footer_instituteName">Viện Nghiên Cứu Phật Học Việt Nam</div>
      <div class="Footer_contactDetail">
        <address class="detail address">750 Nguyễn Kiệm, Quận Phú Nhuận, TP HCM</address>
        <span class="detail email">
          vncphvn@gmail.com
        </span>
        <span class="detail phone">
          (08) 38448893 – 39974447
        </span>
      </div>
    </div>
    <div class="Footer_copyrightContainer__2_Atq">
      <small class="Footer_copyright__Ovhs3">©2024 VNCPHVN</small>
      <small class="Footer_copyright__Ovhs3">Hội đồng quản trị VNCPHVN.</small>
      <small class="Footer_copyright__Ovhs3">Cúng Dường | Liên hệ</small>
    </div>
  </div>
  <div><!-- END NOINDEX --></div>
</footer>