<footer class="Footer_container__2wljV">
  <div><!-- BEGIN NOINDEX --></div>
  <div class="Footer_innerContainer__1WRD1 single-col-inner">
    <div class="Footer_mainContainer__2cU57">
      <div class="Footer_addressContainer__1QZ1L">
        <small class="Footer_addressTitle__2Mz3Q">Viện Nghiên Cứu Phật Học Việt Nam</small>
        <div class="Footer_address__3xygG">
          <address>750 Nguyễn Kiệm, Quận Phú Nhuận, TP HCM</address>
          <span>
            vncphvn@gmail.com
          </span>
          <span>
            (08) 38448893 – 39974447
          </span>

        </div>
      </div>
    </div>
    <div class="Footer_copyrightContainer__2_Atq">
      <small class="Footer_copyright__Ovhs3">©2024 VNCPHVN</small>
      <small class="Footer_copyright__Ovhs3">Hội đồng quản trị VNCPHVN.</small>
      <small class="Footer_copyright__Ovhs3">Cúng Dường Contact</small>
    </div>
  </div>
  <div><!-- END NOINDEX --></div>
</footer>