<header class="EduHeader_container__1tqot " id="header" data-mobilenavisopen="false" data-scrolldown="false"
  style="top: 0px;"><a href="https://www.uchicago.edu/#maincontent" class="EduHeader_skipLink__2pwjv" rel="noopener"
    target="_blank">Skip to main content</a><a target="_blank" class="EduHeader_logoContainer__JaiwY" aria-label="Logo"
    href="https://www.uchicago.edu/" rel="noopener"><span class="linkText"><img alt="The University of Chicago Logo "
        class="EduHeader_desktopLogo__1wTcL" src="https://mc-1b49d921-43a2-4264-88fd-647979-cdn-endpoint.azureedge.net/-/jssmedia/images/logo-background.svg?iar=0&rev=b968dab0e0ea49fc9b0aa0c58ff8b152&extension=webp&hash=44493A89388C6D73090CDEF7ED528ACB"><img
        alt="The University of Chicago Logo" class="EduHeader_mobileLogo__2czmh"
        src="./The University of Chicago_files/logo-background-mobile.svg"></span></a><button id="mobileTogBtn"
    class="EduHeader_mobileNavToggle__2kx94" aria-label="Show main menu" aria-expanded="false"></button>
    {% include "./components/branchMenu/index.html" %}
    {% include "./components/mainMenu/index.html" %}
  </div>
  <div id="maincontent" class="EduHeader_skipLinkAnchor__1X-cl">Main content</div>
</header>