<header class="EduHeader_container__1tqot " id="header" data-mobilenavisopen="false" data-scrolldown="false"
  style="top: 0px;">
    <a class="EduHeader_logoContainer__JaiwY" aria-label="Logo"
    href="/" rel="noopener"><span class="linkText"><img alt="Viện Nghiên Cứu Phật Học logo"
        class="EduHeader_desktopLogo__1wTcL" src="https://i.imgur.com/GomWFl3.png"><img
        alt="Viện Nghiên Cứu Phật Học logo" class="EduHeader_mobileLogo__2czmh"
        src="./The University of Chicago_files/logo-background-mobile.svg"></span></a><button id="mobileTogBtn"
    class="EduHeader_mobileNavToggle__2kx94" aria-label="Show main menu" aria-expanded="false"></button>
  {% include "./components/branchMenu/index.html" %}
  {% include "./components/mainMenu/index.html" %}
  </div>
  <div id="maincontent" class="EduHeader_skipLinkAnchor__1X-cl">Main content</div>
</header>