<header class="EduHeader_container__1tqot " id="header" data-mobilenavisopen="false" data-scrolldown="false"
  style="top: 0px;"><a href="https://www.uchicago.edu/#maincontent" class="EduHeader_skipLink__2pwjv" rel="noopener"
    target="_blank">Skip to main content</a><a target="_blank" class="EduHeader_logoContainer__JaiwY" aria-label="Logo"
    href="https://www.uchicago.edu/" rel="noopener"><span class="linkText"><img alt="The University of Chicago Logo "
        class="EduHeader_desktopLogo__1wTcL" src="./The University of Chicago_files/logo-background.svg"><img
        alt="The University of Chicago Logo" class="EduHeader_mobileLogo__2czmh"
        src="./The University of Chicago_files/logo-background-mobile.svg"></span></a><button id="mobileTogBtn"
    class="EduHeader_mobileNavToggle__2kx94" aria-label="Show main menu" aria-expanded="false"></button>
  <div class="EduHeader_headerNavigation__3Li1o">
    <div class="EduBrandBar_container__1av_b">
      <div class="single-col-inner">
        <div class="EduBrandBar_innerContainer__2CdVQ">
          <div class="EduBrandBar_navList__bejKa undefined">
            <ul class="EduBrandBar_linkContainer__1PVzB">
              <li class="EduBrandBar_linkListItem__AHUGE"><a href="https://news.uchicago.edu/"
                  class="EduBrandBar_brandBarLink__vXYh4" target="_blank" rel="noopener"><span
                    class="linkText">News</span></a></li>
              <li class="EduBrandBar_linkListItem__AHUGE"><a href="https://events.uchicago.edu/"
                  class="EduBrandBar_brandBarLink__vXYh4" target="_blank" rel="noopener"><span
                    class="linkText">Events</span></a></li>
              <li class="EduBrandBar_linkListItem__AHUGE"><a target="_blank" class="EduBrandBar_brandBarLink__vXYh4"
                  href="https://www.uchicago.edu/careers" rel="noopener"><span class="linkText">Careers</span></a></li>
              <li class="EduBrandBar_infoDropdownContainer__mMIci EduBrandBar_linkListItem__AHUGE" id="info-menu"
                data-infodropdownisopen="false"><button class="EduBrandBar_infoDropdownButton__1taMo"
                  aria-expanded="false" aria-controls="info-menu">Info For</button>
                <ul class="EduBrandBar_infoDropdownList__2VrCC">
                  <li class="EduBrandBar_infoDropdownListItem__345V4"><a target="_blank" data-chevron="true"
                      data-size="small" data-color="grey" href="https://www.uchicago.edu/students" rel="noopener"><span
                        class="linkText">Students</span></a></li>
                  <li class="EduBrandBar_infoDropdownListItem__345V4"><a target="_blank" data-chevron="true"
                      data-size="small" data-color="grey" href="https://www.uchicago.edu/faculty" rel="noopener"><span
                        class="linkText">Faculty</span></a></li>
                  <li class="EduBrandBar_infoDropdownListItem__345V4"><a target="_blank" data-chevron="true"
                      data-size="small" data-color="grey" href="https://www.uchicago.edu/staff" rel="noopener"><span
                        class="linkText">Staff</span></a></li>
                  <li class="EduBrandBar_infoDropdownListItem__345V4"><a href="https://alumniandfriends.uchicago.edu/"
                      target="_blank" rel="noopener" data-chevron="true" data-size="small" data-color="grey"><span
                        class="linkText">Alumni</span></a></li>
                  <li class="EduBrandBar_infoDropdownListItem__345V4"><a
                      href="https://college.uchicago.edu/about/parents" target="_blank" rel="noopener"
                      data-chevron="true" data-size="small" data-color="grey"><span class="linkText">Parents</span></a>
                  </li>
                  <li class="EduBrandBar_infoDropdownListItem__345V4"><a
                      href="https://news.uchicago.edu/media-resources" target="_blank" rel="noopener"
                      data-chevron="true" data-size="small" data-color="grey"><span class="linkText">Media</span></a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="EduBrandBar_navList__bejKa undefined">
            <ul class="EduBrandBar_linkContainer__1PVzB">
              <li class="EduBrandBar_linkListItem__AHUGE"><a href="https://visit.uchicago.edu/"
                  class="EduBrandBar_brandBarLink__vXYh4" target="_blank" rel="noopener"><span
                    class="linkText">Visit</span></a></li>
              <li class="EduBrandBar_linkListItem__AHUGE"><a target="_blank" class="EduBrandBar_brandBarLink__vXYh4"
                  href="https://www.uchicago.edu/contact-us" rel="noopener"><span class="linkText">Contact Us</span></a>
              </li>
              <li class="EduBrandBar_linkListItem__AHUGE"><a href="https://directory.uchicago.edu/"
                  class="EduBrandBar_brandBarLink__vXYh4" target="_blank" rel="noopener"><span
                    class="linkText">Directory</span></a></li>
            </ul><button id="searchBtn" aria-label="Search" aria-expanded="false"
              class="EduBrandBar_searchButton__3ie-4"><i class="fa fa-search" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
      <div class="EduBrandBar_searchFlyout__s8Ypv">
        <form class="EduBrandBar_searchForm__2lmqo" data-formtype="search">
          <div class="EduBrandBar_searchBarContainer__2l1nu"><label for="searchBar"
              class="EduBrandBar_searchBarLabel__1OV6d">Search UChicago</label><input id="searchBar"
              class="EduBrandBar_searchBar__36kVg" type="search" aria-label="Search UChicago" placeholder=""
              tabindex="-1" value=""></div>
          <div class="fa fa-search" aria-hidden="true"><input type="submit" tabindex="-1" value="Submit Search"></div>
          <div class="PeopleDirectoryLink"><a href="http://directory.uchicago.edu/" class="peopleLink" target="_blank"
              rel="noopener" data-chevron="true"><span class="linkText">Search for People</span></a></div>
        </form><button aria-label="Close search form" class="EduBrandBar_close__tIfwg fa fa-close" tabindex="-1"
          aria-hidden="true"></button>
      </div>
    </div>
    <nav class="EduNavigation_container__3ayuj" aria-label="Main Navigation">
      <div class="single-col-inner">
        <div class="EduNavigation_navContainer__3t1CU">
          {% include "./components/leftMenu.html" %}
          {% include "./components/rightMenu.html" %}
        </div>
      </div>
    </nav>
  </div>
  <div id="maincontent" class="EduHeader_skipLinkAnchor__1X-cl">Main content</div>
</header>